
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header" />

<body>

<div th:replace="common/header :: navbar"></div>

<!-- Main component for a primary marketing message or call to action -->
<div class="container ">

    <div class="row" style="margin-bottom: -100px">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <!--/*@thymesVar id="user" type="User"*/-->
                <!--/*@thymesVar id="username" type="String"*/-->
                <span>ALL BOOKS</span>
            </h2>
        </div>
        <div class="col-xs-4">
            <img src="/images/logo.png" class="img-responsive" />
        </div>

    </div>

    <hr style="position: absolute; width: 90%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px" />
    <div class="row">
    <img src="/images/wood.png" class="img-responsive"
         style="margin-top: -25px; z-index: -1 ;position: absolute;width: 90%;" />
    </div>

    <div class="row" style="margin-top: 100px">
        <div class="col-xs-9 col-xs-offset-3">
            <div th:if="${emptyList}">
                <h5 style="font-style: italic">Opps, no result is found.Try something else or try again later.</h5>
            </div>

            <table border="0" id="bookList">
                <thead><tr><th></th></tr></thead>
                <tbody>
                <tr class="book-item" data-th-each="book : ${bookList}">
                    <td>
                        <div th:if="${book !=null }">
                            <div class="row">
                                <div class="col-xs-3">
                                    <a th:href="@{/bookDetail?id=}+${book.id}">
                                    <img class="img-responsive" th:src="@{/images/books/s2/}+${book.id}+.png"/>
                                    </a>
                                </div>
                                <div class="col-xs-9">
                                    <a th:href="@{/bookDetail?id=}+${book.id}"><h4 th:text="${book.title}"></h4></a>
                                    <span th:text="${book.publicationDate}"></span>
                                    <p th:text="${book.author}"></p>
                                    <a th:href="@{/bookDetail?id=}+${book.id}"> <span th:text="${#strings.capitalize(book.format)}"></span></a>
                                    <span th:text="${book.numberOfPages}"></span><span> pages</span>
                                    <br/>
                                    <a th:href="@{/bookDetail?id=}+${book.id}">
                                        <span style="font-size: x-large;color: #db3208">$<span th:text="${#numbers.formatDecimal(book.ourPrice,0,'COMMA',2,'POINT')}"></span>
                                    </span>
                                    </a>
                                    <span style="text-decoration: line-through">$<span th:text="${#numbers.formatDecimal(book.listPrice,0,'COMMA',2,'POINT')}"></span>
                                    </span>
                                    <br/>
                                    <p th:utext="${#strings.abbreviate(book.description,800)}"> </p>


                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>


</div>   <!--end of conatainer-->




<div th:replace="common/header :: body-bottom-scripts"></div>
<script>
    $(document).ready(function () {
        $('#bookList').DataTable({
            "lengthMenu": [[5,10,15,20,-1],[5,10,15,20,"All"]],
            "ordering": false,
            stateSave:true
        });

    });
</script>
</body>
</html>
