
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header" />

<body>

<div th:replace="common/header :: navbar"></div>

<!-- Main component for a primary marketing message or call to action -->
<div class="container ">

    <div class="row" style="margin-bottom: -100px">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <!--/*@thymesVar id="user" type="User"*/-->
                <!--/*@thymesVar id="username" type="String"*/-->
                <span th:text="${#strings.toUpperCase(user.username)}"></span></h2>
        </div>
        <div class="col-xs-4">
            <img src="/images/logo.png" class="img-responsive" />
        </div>

    </div>
    <hr style="position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px" />

    <img src="/images/wood.png" class="img-responsive" style="margin-top: -25px;position: absolute;z-index: -1;max-width: 90%" />



    <div class="row" style="margin-top: 170px">
        <div class="col-xs-9 col-xs-offset-3">
            <ul class="nav nav-tabs">
                <!--nav tabs-->
                <li th:classappend="${classActiveEdit}? 'in active' " ><a href="#tab-1" data-toggle="tab"><span style="color: red">Edit</span></a> </li>

                <li th:classappend="${classActiveOrder}? 'in active' " ><a href="#tab-2" data-toggle="tab"><span  style="color: red"></span>Orders</a></li>
                <li th:classappend="${classActiveBilling}? 'in active' " ><a href="#tab-3" data-toggle="tab"><span  style="color: red">Billing</span></a></li>
                <li th:classappend="${classActiveShipping}? 'in active' " ><a href="#tab-4" data-toggle="tab"><span  style="color: red">Shipping</span></a></li>

            </ul>
            <!--tab panels-->
            <div class="tab-content">

                <!--Edit user information-->

                <div class="tab-pane fade"  id="tab-1" th:classappend="${classActiveEdit}? 'in active' " >
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none">
                            <div class="panel-body" style="background-color: #ededed;margin-top: 20px">
                                <form th:action="@{/updateUserInfo}" method="post" >
                                    <input type="hidden" name="id" th:value="${user.id}" />
                                    <div class="bg-info" th:if="${updateUserInfo}">User info updated</div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label for="firstName">First Name</label>
                                                <input type="text" class="form-control" id="firstName" name="firstName" th:value="${user.firstName}" />
                                            </div>

                                            <div class="col-xs-6">
                                                <label for="lastName">Last Name</label>
                                                <input type="text" class="form-control" id="lastName" name="lastName" th:value="${user.lastName}" />
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="userName">Username</label>
                                        <input type="text" class="form-control" id="userName" name="lastName" th:value="${user.username}" />
                                    </div>

                                    <div class="form-group">
                                        <label for="currentPassword">Current Password</label>
                                        <input type="text" class="form-control" id="currentPassword" name="lastName" th:value="${currentPassword}" />
                                    </div>
                                    <p style="color: #828282">Enter your current password to change the email address or password</p>

                                    <div class="form-group">
                                        <label for="email">Email Address</label>
                                        <input type="text" class="form-control" id="email" name="email" th:value="${user.email}" />
                                    </div>
                                    <p style="color: #828282">A valid email address. All
                                        emails from the system will be sent to this address.The
                                        email address is not make public and will only be used if
                                        you wish to receive a new password or wish to receive
                                        certain notification</p>

                                    <div class="form-group">
                                        <label for="txtNewPassword">Password</label>
                                        <input type="password" class="form-control" id="txtNewPassword" name="txtNewPassword"  />
                                    </div>

                                    <div class="form-group">
                                        <label for="txtConfirmPassword">Confirm Password</label>
                                        <input type="password" class="form-control" id="txtConfirmPassword" />
                                    </div>
                                    <p style="color: #828282">To change the current user password, enter new password in both fileds </p>


                                    <button type="submit" class="btn btn-primary">Create a new account</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!--order information-->

                <div class="tab-pane fade"  id="tab-2" th:classappend="${classActiveOrder}? 'in active' " >
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none">
                            <div class="panel-body" style="background-color: #ededed;margin-top: 20px">

                            </div>
                        </div>
                    </div>
                </div>


                <!--biiling information-->
                <div class="tab-pane fade"  id="tab-3" th:classappend="${classActiveBilling}? 'in active' " >
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none">
                            <div class="panel-body" style="background-color: #ededed;margin-top: 20px">
                                <ol class="breadcrumb">
                                    <li class="breadcrum-item active">
                                        <a th:href="@{/listOfCreditCards}" th:style="${listOfCreditCards} ? 'color:red' ">List of Credit Cards</a>
                                    </li>
                                    <li class="breadcrum-item active">
                                        <a th:href="@{/addNewCreditCard}" th:style="${addNewCreditCard} ? 'color:red' ">Add(Update) Credit Card</a>
                                    </li>
                                </ol>

                                <div th:if="${listOfCreditCards}">
                                    <form th:action="@{/setDefaultPayment}" method="post">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Default</th>
                                                <th>Credit Card</th>
                                                <th>Operations</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr th:each="userPayment : ${userPaymentList}">
                                                <td>
                                                    <input type="radio" name="defaultPayment" th:value="${userPayment.id}"
                                                           th:checked="${userPayment.defaultPayment}"/>
                                                </td>
                                                <td th:text="${userPayment.cardName}"></td>
                                                <td>
                                                    <a th:href="@{/updateCreditCard(id=${userPayment.id})}"><i class="fa fa-pencil"></i></a>
                                                    &nbsp;&nbsp;
                                                    <a th:href="@{/removeCreditCard(id=${userPayment.id})}"><i class="fa fa-times"></i></a>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <button class="btn btn-primary" type="submit">Save</button>
                                    </form>
                                </div>
                                <div th:if="${addNewCreditCard}">
                                    <form th:action="@{/addNewCreditCard}" method="post">
                                        <div class="bg-info" th:if="${updateUserPaymentInfo}">User info updated.</div>
                                        <input hidden="hidden" th:value="${userPayment.id}" name="id"/>
                                        <div class="form-group">
                                            <h5>* Give a name of your card </h5>
                                            <input type="text" class="form-control" id="cardName" placeholder="Card Name"
                                                   th:name="cardName" required="required" th:value="${userPayment.cardName}"/>
                                        </div>
                                        <!--Billing Address-->

                                        <hr/>
                                        <div class="form-group">
                                            <h4>Billing Address</h4>
                                        </div>
                                        <div class="form-group">
                                            <label for="billingName">* Name </label>
                                            <input type="text" class="form-control" id="billingName" placeholder="Receiver Name"
                                                   th:name="userBillingName" required="required" th:value="${userBilling.userBillingName}"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="billingAddress">* Street Address </label>
                                            <input type="text" class="form-control" id="userBillingStreet1" placeholder="Street Address 1 "
                                                   th:name="userBillingStreet1" required="required" th:value="${userBilling.userBillingStreet1}"/>
                                            <input type="text" class="form-control" id="userBillingStreet2" placeholder="Street Address 2 "
                                                   th:name="userBillingStreet2" required="required" th:value="${userBilling.userBillingStreet2}"/>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="billingCity">* City </label>
                                                    <input type="text" class="form-control" id="billingCity" placeholder="City"
                                                           th:name="userBillingCity" required="required" th:value="${userBilling.userBillingCity}"/>
                                                </div>
                                            </div>

                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="billingState">* State </label>
                                                    <input type="text" class="form-control" id="billingState" placeholder="State"
                                                           th:name="userBillingState" required="required" th:value="${userBilling.userBillingState}"/>

                                                </div>
                                            </div>

                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="billingZipCode">* ZipCode </label>
                                                    <input type="text" class="form-control" id="billingZipCode" placeholder="ZipCode"
                                                           th:name="userBillingZipCode" required="required" th:value="${userBilling.userBillingZipCode}"/>
                                                </div>
                                            </div>

                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="billingCountry">* Country </label>
                                                    <select id="CountryList" th:name="userBillingCountry" class="form-control"
                                                            th:value="${userBilling.userBillingCountry}" required="required">
                                                        <option value="" disabled="disabled">Please Select an option</option>
                                                        <option th:each="country : ${countryList}" th:text="${country}"
                                                                th:selected="(${userBilling.userBillingCountry} == ${country})" ></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Credit Card information-->

                                        <hr/>
                                        <div class="form-group">
                                            <h4>Credit Card Information</h4>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12">
                                                <img src="/images/creditcard.png" class="img-responsive"/>
                                                <br/>

                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <div class="form-group">
                                                            <label for="cardType">* Select Card Type</label>
                                                            <select class="form-control" id="cardType" th:name="type" th:value="${userPayment.type}">
                                                                <option th:selected="${userPayment.type} == 'visa'">Visa</option>
                                                                <option th:selected="${userPayment.type} == 'mastercard'" >Mastercard</option>
                                                                <option th:selected="${userPayment.type} == 'discover'" >Discover</option>
                                                                <option th:selected="${userPayment.type} == 'amex'" >American Express</option>
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="cardHolder">* Card Holder Name</label>
                                                    <input type="text" class="form-control" id="cardHolder" placeholder="Card Holder Name"
                                                           name="holderName" required="required" th:value="${userPayment.holderName}"/>
                                                </div>

                                                <div class="form-group">
                                                    <label for="cardNumber">* Card Number</label>
                                                    <div class="input-group">
                                                        <input type="tel" class="form-control" id="cardHolder" placeholder="Card Number"
                                                               name="cardNumber" required="required" th:value="${userPayment.cardNumber}"/>
                                                        <span class="input-group-addon"><i class="fa fa-credit-card" aria-hidden="true"></i> </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-7">
                                                <label for="expirationDate">* Expiration Date</label>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <select class="form-control" name="expiryMonth" required="required"
                                                                th:value="${userPayment.expiryMonth}">
                                                            <option disabled="disabled">-- Month --</option>
                                                            <option th:selected="${userPayment.type} == '1' " th:value="1" >Jan (01)</option>
                                                            <option th:selected="${userPayment.type} == '2' " th:value="2"   >Feb (02)</option>
                                                            <option th:selected="${userPayment.type} == '3' " th:value="3"   >Mar (03)</option>
                                                            <option th:selected="${userPayment.type} == '4' " th:value="4"   >Apr (04)</option>
                                                            <option th:selected="${userPayment.type} == '5' " th:value="5"   >May (05)</option>
                                                            <option th:selected="${userPayment.type} == '6' " th:value="6"   >June (06)</option>
                                                            <option th:selected="${userPayment.type} == '7' " th:value="7"  >July (07)</option>
                                                            <option th:selected="${userPayment.type} == '8' " th:value="8"   >Aug (08)</option>
                                                            <option th:selected="${userPayment.type} == '9' " th:value="9"   >Sep (09)</option>
                                                            <option th:selected="${userPayment.type} == '10' " th:value="10"   >Oct (10)</option>
                                                            <option th:selected="${userPayment.type} == '11' " th:value="11"   >Nov (11)</option>
                                                            <option th:selected="${userPayment.type} == '12' " th:value="12"   >Dec (12)</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <select class="form-control" name="expiryYear"
                                                                th:value="${userPayment.expiryYear}">
                                                            <option disabled="disabled">-- Year --</option>
                                                            <option th:selected="${userPayment.expiryYear} == '2019' " >2019</option>
                                                            <option th:selected="${userPayment.expiryYear} == '2020' " >2020</option>
                                                            <option th:selected="${userPayment.expiryYear} == '2021' " >2021</option>
                                                            <option th:selected="${userPayment.expiryYear} == '2022' " >2022</option>
                                                            <option th:selected="${userPayment.expiryYear} == '2023' " >2023</option>
                                                            <option th:selected="${userPayment.expiryYear} == '2024' " >2024</option>
                                                            <option th:selected="${userPayment.expiryYear} == '2025' " >2025</option>
                                                            <option th:selected="${userPayment.expiryYear} == '2026' " >2026</option>
                                                            <option th:selected="${userPayment.expiryYear} == '2027' " >2027</option>
                                                            <option th:selected="${userPayment.expiryYear} == '2028' " >2028</option>
                                                            <option th:selected="${userPayment.expiryYear} == '2029' " >2029</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-5">

                                                <div class="form-group">
                                                    <label for="cardCVC">* CV code</label>
                                                    <div class="input-group">
                                                        <input type="tel" class="form-control" id="cardCVC" placeholder="CVC"
                                                               th:name="cvc" required="required" th:value="${userPayment.cvc}"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-lg">Save All</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--shipping information-->

                <div class="tab-pane fade"  id="tab-4" th:classappend="${classActiveShipping}? 'in active' " >
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none">
                            <div class="panel-body" style="background-color: #ededed;margin-top: 20px">

                                <ol class="breadcrumb">
                                    <li class="breadcrum-item active">
                                        <a th:href="@{/listOfShippingAddresses}" th:style="${listOfShippingAddresses} ? 'color:red' ">List of Shipping Addresses</a>
                                    </li>
                                    <li class="breadcrum-item active">
                                        <a th:href="@{/addNewShippingAddress}" th:style="${addNewShippingAddress} ? 'color:red' ">Add(Update) Shipping Address</a>
                                    </li>
                                </ol>

                                <div th:if="${listOfShippingAddresses}">
                                    <form th:action="@{/setDefaultShipping}" method="post">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Default</th>
                                                <th>Shipping Addresses</th>
                                                <th>Operations</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr th:each="userShipping : ${userShippingList}">
                                                <td>
                                                    <input type="radio" name="defaultShipping" th:value="${userShipping.id}"
                                                           th:checked="${userShipping.userShippingDefault}"/>
                                                </td>
                                                <td th:text="${userShipping.userShippingStreet1}+
                                                ', '+ ${userShipping.userShippingStreet2}+
                                                ', '+ ${userShipping.userShippingCity}+
                                                ', '+${userShipping.userShippingState}+
                                                ', '+${userShipping.userShippingZipCode}+
                                                ', '+${userShipping.userShippingCountry}"></td>
                                                <td>
                                                    <a th:href="@{/updateUserShipping(id=${userShipping.id})}"><i class="fa fa-pencil"></i></a>
                                                    &nbsp;&nbsp;
                                                    <a th:href="@{/removeUserShipping(id=${userShipping.id})}"><i class="fa fa-times"></i></a>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <button class="btn btn-primary" type="submit">Save</button>
                                    </form>
                                </div>
                                <div th:if="${addNewShippingAddress}">
                                    <form th:action="@{/addNewShippingAddress}" method="post">
                                        <div class="bg-info" th:if="${updateUserShippingInfo}">User info updated.</div>
                                        <input hidden="hidden" th:value="${userShipping.id}" name="id"/>

                                        <!--Shipping Address-->

                                        <hr/>

                                        <div class="form-group">
                                            <h4>Shipping Address</h4>
                                        </div>
                                        <div class="form-group">
                                            <label for="shippingName">* Receiver Name </label>
                                            <input type="text" class="form-control" id="shippingName" placeholder="Receiver Name"
                                                   th:name="userShippingName" required="required" th:value="${userShipping.userShippingName}"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="shippingAddress">* Street Address </label>
                                            <input type="text" class="form-control" id="usershippingStreet1" placeholder="Street Address 1 "
                                                   th:name="userShippingStreet1" required="required" th:value="${userShipping.userShippingStreet1}"/>
                                            <input type="text" class="form-control" id="usershippingStreet2" placeholder="Street Address 2 "
                                                   th:name="userShippingStreet2" required="required" th:value="${userShipping.userShippingStreet2}"/>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="ShippingCity">* City </label>
                                                    <input type="text" class="form-control" id="ShippingCity" placeholder="City"
                                                           th:name="userShippingCity" required="required" th:value="${userShipping.userShippingCity}"/>
                                                </div>
                                            </div>

                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="ShippingState">* State </label>
                                                    <input type="text" class="form-control" id="ShippingState" placeholder="State"
                                                           th:name="userShippingState" required="required" th:value="${userShipping.userShippingState}"/>

                                                </div>
                                            </div>

                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="ShippingZipCode">* ZipCode </label>
                                                    <input type="text" class="form-control" id="ShippingZipCode" placeholder="ZipCode"
                                                           th:name="userShippingZipCode" required="required" th:value="${userShipping.userShippingZipCode}"/>
                                                </div>
                                            </div>

                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="ShippingCountry">* Country </label>
                                                    <select id="CountryList" th:name="userShippingCountry" class="form-control"
                                                            th:value="${userShipping.userShippingCountry}" required="required">
                                                        <option value="" disabled="disabled">Please Select an option</option>
                                                        <option th:each="country : ${countryList}" th:text="${country}"
                                                                th:selected="(${userShipping.userShippingCountry} == ${country})" ></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                        <button type="submit" class="btn btn-primary btn-lg">Save All</button>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



</div>   <!--end of conatainer-->




<div th:replace="common/header :: body-bottom-scripts"></div>

</body>
</html>
